<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a self-taught Android developer with over 10 years of experience building apps independently. I’m a highly motivated, goal-oriented, selfless leader that is driven by a strong passion for creating Android apps with the latest technologies.</p>
      </div>
      <div class="col-lg-4">
        <p>I fully immerse myself in different types of fitness, sports, meditation, and martial arts while I develop mobile apps for them.</p>
      </div>
    </div>
  </div>
</section>
