<section class="page-section" id="interests">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Interests</h2>
            <h3 class="section-subheading text-muted">What I do besides develop Android apps.</h3>
        </div>
        <div class="row text-center">

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-running fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Trail Running</h4>
                <p class="text-muted">I've been trail running on and off for about 10 years. It's my favorite thing to do actually. I used to run at Zilker Park every morning and now I run at Squabble Creek in the woods every morning that I can when my achilles tendon isn't bothering me.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-person- fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Yoga</h4>
                <p class="text-muted">Yoga is something that I started a couple of months ago. I love to go to power and hot yoga. I'm interested in learning Ashtanga yoga as well. It's my new obsession. I try to go every day.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-biking fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Road Cycling</h4>
                <p class="text-muted">I was a bike commuter in the city for about four years ago when I was younger. Now I live in the suburbs but I still like to go out and ride reguarly.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-dumbbell fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Weightlifting</h4>
                <p class="text-muted">I lift weights for 30-45 minutes a day. I like to lift very heavy because I like to be strong. Building muscle is fun for me.</p>
            </div>
            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-person-swimming fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Swimming</h4>
                <p class="text-muted">I really enjoy swimming laps at the pool using the freestyle stroke when my shoulder isn't bothering me.</p>
            </div>
        </div>
    </div>
</section>
