<section class="page-section" id="interests">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Interests</h2>
            <h3 class="section-subheading text-muted">What I do besides develop Android apps.</h3>
        </div>
        <div class="row text-center">

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-running fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Trail Running</h4>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-person- fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Yoga</h4>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-biking fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Road Cycling</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-dumbbell fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Weightlifting</h4>
            </div>
            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-person-swimming fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Swimming</h4>
            </div>
        </div>
    </div>
</section>
