<section class="page-section bg-light" id="skills">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Skills</h2>
            <h3 class="section-subheading text-muted">What I bring to the table as an Android developer.</h3>
            <hr class="star-primary">
        </div>
        <div class="row text-center">

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fab fa-android fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Android SDK</h4>
                <p class="text-muted">Building polished, performant Android apps from the ground up using the latest Android SDK and platform APIs.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-code fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Kotlin & Coroutines</h4>
                <p class="text-muted">Proficient in Kotlin as well as Kotlin Coroutines.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-layer-group fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Android Jetpack</h4>
                <p class="text-muted">Experienced with Jetpack libraries including Room, ViewModel, LiveData, Navigation, and Compose for modern UI.</p>
            </div>

        </div>
        <div class="row text-center mt-4">

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-plug fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">REST APIs & Ktor</h4>
                <p class="text-muted">Integrating RESTful APIs with Retrofit and OkHttp and developing Ktor applications for custom REST APIs and authentication.</p>
            </div>

            <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-code-branch fa-stack-1x fa-inverse"></i>
        </span>
                <h4 class="my-3">Git & Github</h4>
                <p class="text-muted">Experienced with version control using Git and GitHub</p>
            </div>
        </div>
    </div>
</section>